{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}


    <div class="container rounded-top-shirts mt-2 d-flex justify-content-center">
        <p class="mb-0 text-center text-white">Your profile</p>
    </div>

    <div class="container glass mt-4 user-profile-container">
        <p class="user-profile-info">Name: {{ user.name }}</p>
        <p class="user-profile-info">Surname: {{ user.lastname }}</p>
        <p class="user-profile-info">Email: {{ user.email }}</p>

        <a href="#">Reset Password</a>


    </div>

{% endblock %}
