<h3>Witaj {{ name }}!</h3>

<p>
    Dziękujemy za rejestrację w Symfony Cinema. Aby aktywować swoje konto, kliknij poniższy link:
</p>

<a href="{{ app.request.schemeAndHttpHost ~ path('app_email_verify', {'token': activation_key}) }}">Aktywuj konto</a>